<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Book Slot</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/slots.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body class="text-center">
    <div style="text-align: right">
      <a href='/users/logout'><button class="btn btn-lg btn-primary" style="float: right;" type="button">Logout</button></a>
    </div>
    <form class="form-signin" method="post">

      <table>
      <tr>
        <th>Title</th>
        <th>Organizer</th>
        <th>Date</th>
        <% if(meets) { %>
          <tr style="border:black">
          <td><%= meets.title %></td>
          <td><%= meets.sender %></td>
          <td><%= meets.slot.slot_date %></td>
          </tr>
        <% } %>
      </tr>
    </table>
      <br>
      <h3 class="h3 mb-3 font-weight-normal">Select a slot to book</h3>
      
      <% if(slots) { %>
    <% for(var i=0; i < slots.length; i++) { %>
      <input type="radio" name="freeslot" id="<%= slots[i]._id %>" value="<%= slots[i].slot_time %>">&nbsp;&nbsp;<strong><%= slots[i].slot_time %></strong>&nbsp;&nbsp;<br>
    <% } %>
  <% } %>
  <br>
  <button class="btn btn-lg btn-primary" type="submit">Submit</button>
  </form>

</body>
</html>
